
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --font-color: grey;
    --active-color: #eee;
    --background-color: #264653;
}

body{
    top: 0px;
    left: 0px;
    margin: 0px;
    color: var(--active-color);
    font-family: 'VT323', monospace;
}

#landingPage{
    background-image: url('./images/FeedITPOSTER.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--active-color);
    width: 100%;
    height: 100vh;
}

#landingPage__NavOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: #2A9D8F;
    opacity: 0.5;
    z-index: 1;
}

#playButton--container{
    width: 100%;
    height: 100%;
}

#playButton{
    width: 150px;
    height: 80px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(238, 238, 238, 0.1);
    color: var(--font-color);
    font-size: 30px;
}

#playButton:hover{
    font-weight: 900;
    background-color: rgba(238, 238, 238, 0.8);
}

ol {
    margin: 0px 0px;
    padding: 0px 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
}

ol li{
    display: inline;
    padding: 20px;
    font-size: 30px;
}

.activeSlide {
    text-decoration: underline;
}

li:hover {
    text-decoration: underline;
}

#about h1 {
    text-align: center;
    margin-top: 0px;
    color: #F4A261;
    font-size: 50px;
}

#about {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
}

#about div {
    width: 60%;
    margin: auto;
    font-size: 25px;
}

#container{
    height: fit-content;
    background-image: url('./images/Jungle.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#demo {
    width: 100%;
    height: fit-content;
}

#demo h2{
    margin-top: 0px;
    font-size: 45px;
}

#game_container{
    height: 100%;
    width: 640px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#team_container{
    height: fit-content;
    text-align: center;
    background-color:var(--background-color);
}

#team_container h1{
    padding-top: 20px;
    margin-top: 0px;
    color: #F4A261;
    font-size: 50px;
}

#team {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    flex-wrap: wrap;
}

#team h2 {
    margin-top: 0px; 
    font-size: 30px;
}

.teamMembers {
    /* background-color: #E76F51; */
    margin:  0px 20px 20px 20px;
    text-align: center;
    flex-shrink: 0;
}
.teamMembers h2{
    color: #E9C46A;
}

.memberImage img {
    object-fit: cover;
    border-radius: 10px;
}

h1, h2, h3 {
    letter-spacing: 5px;
}

/* STYLING OF UNITY GAME */
.webgl-content * {border: 0; margin: 0; padding: 0}

.webgl-content {
    width: 100%;
    height: 100%;
}

#unityContainer{
    width: 640px;
    height: 360px;
}