
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --font-color: grey;
    --active-color: #eee;
    --background-color: #264653;
    --font: 'VT323', 'monospace';
}

body{
    top: 0px;
    left: 0px;
    margin: 0px;
    color: var(--active-color);
    font-family: var(--font);
}

#landingPage{
    background-image: url('./images/FeedITPOSTER2.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--active-color);
    width: 100%;
    height: 100vh;
}

#landingPage__NavOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    background-color: var(--background-color);
    opacity: 0.6;
    z-index: 1;
}

#playButton--container{
    width: 100%;
    height: 100%;
    z-index: 2; 
    position: relative;
}

#playButton--container__content{
    margin: auto;
    position: relative;
    top: 35%;
    width: fit-content;
    height: fit-content;
}

#playButton--container h2, #playButton--container h1 {
    margin-top: 0px;
    font-family: var(--font);
    text-align: center;
    color: var(--active-color);
}

#playButton--container h1 {
    font-size: 190px;
    letter-spacing: 20px;
    margin-bottom: 30px;
    color: #E9C46A;
}

#playButton--container__content--buttons{
    width: inherit;
    height: fit-content;
    margin: auto;
}

.download_button {
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-family: var(--font);
    border-radius: 5px;
    border: 2px solid #E9C46A;
    background-color: #F4A26120;
    color: var(--active-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.download_button:hover {
    background-color: #F4A26170;
    transform: scale(0.98);
    cursor: pointer;
}

.download_button:focus, .about-button-group__button:focus{
    outline: 0;
}

ol {
    margin: 0px 0px;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    cursor: default;
}

ol li{
    display: inline;
    padding: 20px;
    font-size: 30px;
}

ol li:hover{
    cursor: pointer;
}

.activeSlide {
    text-decoration: underline;
}

li:hover {
    text-decoration: underline;
}

#about h1 {
    text-align: center;
    margin-top: 0px;
    color: #F4A261;
    font-size: 50px;
}

#about #socials {
    font-size: 1.5em;
}

#about {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
}

#about div {
    width: 60%;
    margin: auto;
    font-size: 25px;
}

#about-button-group{
    width: 100%;
    height: 95px;
    margin: auto;
}

.about-button-group__button{
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-family: var(--font);
    border-radius: 5px;
    border: 2px solid #F4A261;
    background-color: #E9C46A20;
    color: var(--active-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.about-button-group__button:hover {
    background-color: #E9C46A70;
    transform: scale(0.98);
    cursor: pointer;
}

#container{
    height: fit-content;
    background-image: url('./images/Jungle.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#demo {
    width: 100%;
    height: fit-content;
}

#demo h2{
    margin-top: 0px;
    font-size: 45px;
}

#game_container{
    height: 100%;
    width: 640px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#team_container{
    height: fit-content;
    text-align: center;
    background-color:var(--background-color);
    padding-bottom: 70px;
}

#team_container h1{
    padding-top: 20px;
    margin-top: 0px;
    color: #F4A261;
    font-size: 50px;
}

#team {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    flex-wrap: wrap;
}

#team h2 {
    margin-top: 0px; 
    font-size: 30px;
}

.teamMembers {
    /* background-color: #E76F51; */
    margin:  0px 20px 20px 20px;
    text-align: center;
    flex-shrink: 0;
}
.teamMembers h2{
    color: #E9C46A;
}

.memberImage{
    position: relative;
}

.memberImage img {
    object-fit: cover;
    border-radius: 10px;
}

/* Image overlay */
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    top: 0;
    background-color: #2A9D8F90;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;
  }
  
  .memberImage:hover .overlay {
    bottom: 0;
    height: 200px;
  }
  
  .text {
    /* white-space: nowrap;  */
    width: 80%;
    text-align: center;
    color: #eee;
    font-size: 24px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .exceptionEmail{
    font-size: 20px;
    word-break: break-all;
  }

  .emails {
      color: var(--active-color);
      text-decoration: none;
  }

h1, h2, h3 {
    letter-spacing: 5px;
}

#footer {
    width: 100%;
    height: 80px;
    /* background-color: #2a9d8f;
    color: var(--active-color); */

    /* background-color:var(--background-color);
    color: #E9C46A; */

    background-color: #F4A261;
    color: var(--background-color);


    font-family: var(--font);
    text-align: center;
    font-size: 20px;
}

#footer p {
    margin: 0px;
    margin-top: 0px;
    padding-top: 20px;
    box-shadow: 0px -10px 10px #2B2D2F70;
    letter-spacing: 5px;
}

/* STYLING OF UNITY GAME */
.webgl-content * {border: 0; margin: 0; padding: 0}

.webgl-content {
    width: 100%;
    height: 100%;
}

#unityContainer{
    width: 640px;
    height: 360px;
}



.disabled{
    opacity: 20%;
}